<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesIns.css') }}">
</head>
<body>
    <div class="container">
      <a href="/" class="btn-home">Atras</a>
        <h2>Crear Consulta</h2>
        <form method="POST" class="comic-form">
            <div class="form-group">
                <textarea id="consulta" name="consulta" rows="20" cols="50" placeholder="Ingresa el código aqui..."></textarea>
                <hr>
            <button type="submit" class="btn">Ejecutar</button>
        </form>

        {% if mensaje %}
            <p class="mensaje">{{ mensaje }}</p>
        {% endif %}
        {% if error %}
            <p class="error">Error: {{ error }}</p>
        {% endif %}
    </div>
</body>
</html>